<section>
	<h1 class="text-2xl font-semibold">Add New Note</h1>
	<% if (msg) { %>
	<p
		class="font-semibold bg-red-500 px-4 py-2 rounded-lg w-[25rem] mt-2 text-white max-[520px]:w-full"
	>
		<%= msg %>
	</p>
	<% } %>
	<form action="/note" method="POST" class="mt-6 flex flex-col gap-4">
		<input
			name="title"
			type="text"
			placeholder="Title"
			class="bg-transparent outline-none w-[25rem] text-3xl font-semibold"
		/>
		<textarea
			name="body"
			id=""
			class="w-[25rem] h-[15rem] bg-transparent border-none outline-none"
			placeholder="Body"
		></textarea>
		<select name="category" id="" class="w-[10rem] bg-transparent outline-none">
			<option value="">Category</option>
			<option value="Personal">Personal</option>
			<option value="Home">Home</option>
			<option value="Bussiness">Bussiness</option>
		</select>
		<button
			type="submit"
			class="px-4 py-2 bg-blue-500 w-fit font-semibold text-white rounded-lg mt-2"
		>
			Submit
		</button>
	</form>
</section>
