<header
	class="flex items-center justify-center px-64 py-5 bg-white drop-shadow-md"
>
	<nav class="flex gap-10 items-center justify-between w-full">
		<h1 class="font-semibold text-3xl">Notes App</h1>
		<% if (activePage === '') { %>
		<p
			class="bg-gray-300 py-2 px-6 rounded-lg text-white font-semibold cursor-pointer"
		>
			Add
		</p>
		<% } else { %>

		<a
			href="/note"
			class="bg-blue-500 py-2 px-6 rounded-lg text-white font-semibold"
			>Add</a
		>
		<% } %>
	</nav>
</header>
