<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= title %></title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/feather-icons"></script>
	</head>
	<body class="bg-gray-200 mb-10">
		<%- include('header') %> <% if (activePage === 'home' || activePage ===
		'personal' || activePage === 'business' || activePage === 'all') { %> <%-
		include('navigation') %> <% } %>
		<div class="px-64 mt-6"><%- body %></div>

		<script>
			feather.replace()
		</script>
	</body>
</html>
