<div class="flex mt-6 px-64 max-[520px]:px-0">
	<ul class="flex gap-6 font-semibold text-sm cursor-pointer">
		<ul
			class="flex gap-6 font-semibold text-sm cursor-pointer max-[520px]:flex-col max-[520px]:mb-6"
		>
			<li
				class="<%= (activePage === 'all') ? 'text-blue-500 border-b-2 border-blue-500' : '' %>"
			>
				<a href="/">ALL</a>
			</li>
			<li
				class="<%= (activePage === 'personal') ? 'text-blue-500 border-b-2 border-blue-500' : '' %>"
			>
				<a href="/personal">PERSONAL</a>
			</li>
			<li
				class="<%= (activePage === 'home') ? 'text-blue-500 border-b-2 border-blue-500' : '' %>"
			>
				<a href="/home">HOME</a>
			</li>
			<li
				class="<%= (activePage === 'business') ? 'text-blue-500 border-b-2 border-blue-500' : '' %>"
			>
				<a href="/business">BUSSINESS</a>
			</li>
		</ul>
	</ul>
</div>
